<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.bootstrap.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
  <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datavis.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hashids.min.js') }}"></script>
  <script type="text/javascript">
  var mapURL = "{{ config['map_view']['map_url'] }}";
  var mapAttribution = "{{ config['map_view']['map_attrib'] }}";
  var mapCenter = {{ config['map_view']['map_start_center'] }};
  var mapZoom = {{ config['map_view']['map_start_zoom'] }};
  </script>
  <title>Data Visualizer</title>
</head>
<body>
  <div class="app-container">
    <div style="height: 100%; width: 100%; position: absolute">
      <div id="map-viewport" class="map-container">
      </div>
    </div>
  </div>
  <div class="loading-screen-overlay" id="loading-overlay">
    <div class="loading-screen-splash with-shadow" id='loading-splash'>
      <img src="{{ url_for('static', filename='images/spinner.svg') }}"></img><br>
    </div>
  </div>
</body>
</html>
